* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}
main {
    width: 262px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 40px 20px;
}
h1 {
    margin: 85px 0 10px 0;
    font-size: 25px;
    color: hsl(238, 29%, 16%);
}
section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10.5px;
}
.question {
    padding: 15px 0 15px 0;
}
.question:hover {
    cursor: pointer;
}
.clicked {
    color: hsl(238, 29%, 16%);
    font-weight: 900;
}
.arrow {
    transform: scale(.8);
    transition: .2s;
}
.flip {
    transform: rotate(180deg) scale(.8);
}
hr {
    width: 100%;
    border: none;
    border-top: 1px solid hsl(240, 5%, 91%);
}
.answer {
    height: 0;
    opacity: 0;
    transition: .2s;
}
.expand {
    color: hsl(240, 6%, 50%);
    height: auto;
    opacity: 1;
    padding-bottom: 15px;
}