* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
}
main {
    margin-top: 100px;
    width: 262px;
    height: fit-content;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 40px 20px;
    color: hsl(238, 29%, 16%);
    position: relative;
}
.infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desktopShadow {
    display: none;
}
.desktopImg {
    display: none;
}
.desktopBox {
    display: none;
}
.shadow {
    position: absolute;
    top: -11px;
    transform: scale(0.78);
}
.mobileImg {
    position: absolute;
    top: -114px;
    transform: scale(0.72);
}
h1 {
    margin: 85px 0 10px 0;
    font-size: 25px;
}
section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10.7px;
}
.question {
    padding: 15px 0 15px 0;
}
.question:hover {
    cursor: pointer;
    color: hsl(14, 88%, 65%);
}
.clicked {
    color: hsl(238, 29%, 16%);
    font-weight: 900;
}
.arrow {
    transform: scale(.8);
    transition: .2s;
}
.flip {
    transform: rotate(180deg) scale(.8);
}
hr {
    width: 100%;
    border: none;
    border-top: 1px solid hsl(240, 5%, 91%);
}
.answer {
    height: 0;
    opacity: 0;
    transition: .2s;
}
.expand {
    color: hsl(240, 6%, 50%);
    height: auto;
    opacity: 1;
    padding-bottom: 15px;
}

@media (min-width: 800px) {
    body {
        align-items: center;
    }
    main {
        width: 735px;
        height: 408px;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .infoBox {
        width: 280px;
        margin: 55px 0 0 385px;
    }
    .shadow {
        display: none;
    }
    .mobileImg {
        display: none;
    }
    .desktopShadow {
        display: block;
        position: absolute;
        top: -330px;
        right: 335px;
        transform: scale(0.8);
    }
    .desktopImg {
        display: block;
        position: absolute;
        top: 20px;
        right: 380px;
        transform: scale(0.78);
    }
    .desktopBox {
        z-index: 1;
        display: block;
        position: absolute;
        
        transform: scale(0.8) translate(-116px, 180px);
    }
    h1 {
        margin: 0px 0 10px 0;
        transform: translateX(-115px);
    }
    .question {
        padding: 14.5px 0 14.5px 0;
    }
    .arrow {
        margin-right: 10px;
    }
}